@use "./variables.scss" as *;

.explorer-content ul li > a.nav-file-title {
  display: block;
  line-height: 1.35;
  padding: 0.2rem 0;
}

article.thread-page + .page-listing {
  display: none;
}

.page-listing:has(.section-ul:empty) {
  display: none;
}
